@font-face {
    font-family: Reikna;
    src: url(./fonts/Reikna.ttf);
}
@font-face {
    font-family: Unicorn;
    src: url(./fonts/Unicorn.TTF);
}
:root {
    --red: rgb(181, 51, 51);
    --blue: rgb(80, 80, 137);
}

body {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    font-family: Reikna, Courier, monospace;
}

#glass {
    z-index: 100;
    width: 100%;
    height: 100vh;
    opacity: 15%;
    position: absolute;
}

.fortuneTicket {
    z-index: 99;
    animation: slideDown 3s;
    position: absolute;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 243, 220);
    width: 300px;
    height: 550px;
}

.fortuneHeader {
    margin: 0;
    font-size: 2.5rem;
    color: var(--red);
}
.header {
    margin-bottom: 20px;
}
.headerEmoji {
    color: var(--blue);
    position: absolute;
    margin-top: -5px;
}
.emoji1 {
    margin-left: -20px;
}
.emoji2 {
    transform: scale(-1, 1);
    margin-right: 10px;
}
.bottom {
    margin-top: -10px;
}

.lineBreak {
    margin: 0;
    width: 100%;
    height: 2px;
    background-color: var(--blue);
}

.lineOne {
    margin-top: -19px;
    margin-bottom: 10px;
}

.text-container {
    width: 220px;
    height: 380px;
    text-align: left;
}
.fortuneText {
    margin: 0;
    font-size: 1.1rem;
}
.luckyNumbers {
    color: var(--blue);
}
#luckyCaption {
    font-size: 1.2rem;
}
#luckyNums {
    font-size: 0.9rem;
}

.testButton {
    position: absolute;
}

@keyframes slideDown {
    0% {
        margin-top: -700px;
    }
    20% {
        margin-top: -590px;
    }
    40% {
        margin-top: -560px;
    }
    100% {
        margin-top: 100px;
    }
}

#zoltar-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #0d3f0e;
}
#zoltar {
    z-index: 2;
    position: absolute;
    height: 500px;
}
#zoltarDepth {
    position: absolute;
    height: 500px;
    z-index: 4;
}
#zoltarHand {
    animation-name: rotateHand;
    animation-duration: 7s;
    animation-iteration-count: infinite;

    position: absolute;
    margin-left: -140px;
    margin-top: 80px;
    margin-bottom: 0px;
    margin-right: 0px;
    z-index: 5;
    height: 60px;
}
#table {
    z-index: 3;
    margin-top: 640px;
    background-color: rgb(44, 39, 57);
    width: 100%;
    height: 280px;
}

.lamp-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100px;
    height: 150px;
}
.leftLamp {
    margin-top: -550px;
    margin-left: -250px;
}
.rightLamp {
    margin-top: -550px;
    margin-left: 250px;
}
.bottomLamp {
    z-index: 10;
    margin-top: 70px;
    position: absolute;
    background-color: rgb(64, 64, 64);
    width: 25px;
    height: 50px;
    border-radius: 20px 20px 50px 50px;
}
.topLamp {
    margin-top: -10px;
    z-index: 11;
    border-bottom: 50px solid rgb(206, 206, 206);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 125px;
    animation-name: lampFlicker;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    box-shadow: 5px 5px 90px rgba(221, 255, 0, 40%);
}
#magicBall-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 330px;
    margin-left: -290px;
    z-index: 3;
    position: absolute;
    background-color: black;
    width: 130px;
    height: 130px;
}
#magicBall {
    margin-top: -30px;
    margin-left: 10px;
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background-color: rgb(239, 228, 243);
    animation-name: color;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
#ballHolder {
    margin-top: 80px;
    margin-left: 10px;
    width: 60px;
    height: 20px;
    background-color: gray;
}

#coins-container {
    margin-bottom: 50px;
    margin-left: -200px;
    z-index: 3;
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: blue;
    margin-top: 700px;
}
.coin {
    position: absolute;
    background-color: rgb(220, 196, 58);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

@keyframes rotateHand {
    0% {
        margin-left: -140px;
        margin-top: 80px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    20% {
        margin-left: -160px;
        margin-top: 70px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    40% {
        margin-left: -120px;
        margin-top: 75px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    60% {
        margin-left: -160px;
        margin-top: 80px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    100% {
        margin-left: -140px;
        margin-top: 80px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
}

@keyframes color {
    0% {
        background-color: rgb(239, 228, 243);
    }
    20% {
        background-color: rgb(205, 226, 243);
    }
    40% {
        background-color: rgb(251, 210, 197);
    }
    60% {
        background-color: rgb(240, 199, 199);
    }
    80% {
        background-color: rgb(198, 241, 208);
    }
    90% {
        background-color: rgb(187, 225, 227);
    }
    100% {
        background-color: rgb(239, 228, 243);
    }
}

@keyframes lampFlicker {
    0% {
        border-bottom: 50px solid rgb(206, 206, 206);
        box-shadow: 0px 0px 90px rgba(221, 255, 0, 0%);
    }
    10% {
        border-bottom: 50px solid rgb(206, 206, 206);
        box-shadow: 0px 0px 90px rgba(221, 255, 0, 0%);
    }
    20% {
        border-bottom: 50px solid rgb(212, 214, 170);
        box-shadow: 5px 5px 90px rgba(221, 255, 0, 20%);
    }
    30% {
        border-bottom: 50px solid rgb(206, 206, 206);
        box-shadow: 0px 0px 90px rgba(221, 255, 0, 0%);
    }
    40% {
        border-bottom: 50px solid rgb(212, 214, 170);
        box-shadow: 5px 5px 90px rgba(221, 255, 0, 20%);
    }
    55% {
        border-bottom: 50px solid rgb(206, 206, 206);
        box-shadow: 0px 0px 90px rgba(221, 255, 0, 0%);
    }
    70% {
        border-bottom: 50px solid rgb(206, 206, 206);
        box-shadow: 0px 0px 90px rgba(221, 255, 0, 0%);
    }
    80% {
        border-bottom: 50px solid rgb(212, 214, 170);
        box-shadow: 5px 5px 90px rgba(221, 255, 0, 20%);
    }
    95% {
        border-bottom: 50px solid rgb(206, 206, 206);
        box-shadow: 0px 0px 90px rgba(221, 255, 0, 0%);
    }
    100% {
        border-bottom: 50px solid rgb(206, 206, 206);
        box-shadow: 0px 0px 90px rgba(221, 255, 0, 0%);
    }
}
